{% load static %}

        <nav class="navbar" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
		    <a class="navbar-item" href="{% url 'home' %}">
		      <img src="{% static 'img/ariana-transparente.png' %}" width="112" height="28">
		    </a>

		    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		    </a>
		  </div>

		  <div id="navbarBasicExample" class="navbar-menu">
		    <div class="navbar-start">


		    </div>

		    <div class="navbar-end">
		      <a class="navbar-item" href="{% url 'home' %}">
		        Home
		      </a>

		      <a class="navbar-item" href="{% url 'sobre' %}">
		        Quem Sou
		      </a>


		      <a class="navbar-item" href="{% url 'receitas' %}">
		        Receitas
		      </a>

		      <a class="navbar-item" href="{% url 'blog' %}">
		        Blog
		      </a>

		      <a class="navbar-item" href="{% url 'contato' %}">
		        Contato
		      </a>
		      <a class="navbar-item">
		          <span class="icon">
		          	<i class="fab fa-instagram"></i>
		          </span>
		      </a>
		    </div>
		  </div>
		</nav>