{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

        <section class="bg-hero-1 hero is-large" style="background-image: url({% static 'img/bg-hero.jpg' %})">

            <div class="hero-body">

                <div class="container has-text-centered">

                    <h1 class="title is-1">
                        Entre em contato
                    </h1>
                    <h2 class="subtitle is-4">
                        Clique para entrar em contato via e-mail ou WhatsApp.
                    </h2>
					<h2 class="subtitle is-4">
                        Se preferir, deixe uma mensagem preenchendo o formulário abaixo.
                    </h2>

                    <div class="buttons are-medium is-centered">
						<a href="mailto:vittorvc@gmail.com" target="_blank"><button class="button is-primary is-inverted is-outlined">E-mail</button></a>
                        <a href="https://wa.me/55XXXXXXXXXXX"><button class="button is-primary is-inverted is-outlined">Whatsapp →</button></a>
                    </div>
                    <div class="tags are-medium is-centered">
                        <span class="tag is-rounded show" id="email-show">example@email.com</span>
                        <span class="tag is-rounded show" id="whatsapp-show">+55 55 55555-5555</span>
                    </div>

                </div>

             </div>

        </section>
<section class="section is-large">

            <div class="container">
                
                <div class="content has-text-centered">
                    
                    <h3 class="is-size-2">Contato</h3>

                </div>

                <form action="{% url 'send-message' %}" method="post">
					{% csrf_token %}
					<div class="columns">
						<div class="column is-2"></div>
						<div class="column is-8">

							<div class="field">
								<label class="label">Nome</label>
								<div class="control">
									<input class="input" type="text" name="nome" placeholder="Seu nome" required>
								</div>
							</div>

							<div class="field">
								<label class="label">Email</label>
									<div class="control has-icons-left">
										<input class="input" type="email" name="email" placeholder="Email" required>
										<span class="icon is-small is-left">
										<i class="fas fa-envelope"></i>
										</span>
									</div>
							</div>

							<div class="field">
								<label class="label">Messagem</label>
									<div class="control">
										<textarea class="textarea" name="mensagem" placeholder="Sua mensagem aqui" required></textarea>
									</div>
							</div>
							<div class="g-recaptcha field" data-sitekey="6LfJlqgZAAAAAOUX4rTOWy3kQsR9_C_JoEjhLJwK"></div>

							<div class="field is-grouped">
								<div class="control">
									<button class="button is-link" type="submit">Enviar</button>
								</div>
							</div>

						</div>
						<div class="column is-2"></div>
					</div>
				</form>
            </div>
        </section>

{% include 'partials/_footer.html' %}
{% endblock %}
