{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

		<section class="bg-hero-2 hero is-large" style="background-image: url({% static 'img/bg-hero-quem-sou.jpg' %})">

		  	<div class="hero-body">
		   		<div class="container has-text-centered">
		      		<h1 class="title is-1">
		       			Quem sou eu
		      		</h1>
		    	</div>
		 	 </div>

		</section>

		<section class="section is-large">

		    <div class="container">

		    	<div class="content has-text-centered">
		    		
		    		

		    	</div>

		      	<div class="columns">
		      		<div class="column is-2"></div>
		      		<div class="column is-4">
		        		<div class="content">
		        			
		        			
		        			<ul>

		        			  <h2 class="title is-3">Minha história</h2>

		        			  <hr>	

		        			  <p style="padding-top: 1.5rem">Nunca fui uma criança magrinha ou com dificuldade de me alimentar. Muito pelo contrário, sempre tive tendência a comer demais e ganhar peso com facilidade. Cresci em uma família de grandes almoços de domingo na casa dos meus avós, e tudo girava em torno da comida.</p> 

		        			  <p>Na adolescência, me sentia frustrada por ter alguns quilinhos a mais e isso mexia muito comigo e com a forma com que eu encarava as mais diversas situações em minha vida. Minha relação com a comida não era de paz e de harmonia, mas de frustração e culpa. Mas ao contrário do que possa parecer, não resolvi estudar nutrição porque vivia de briga com a balança, não. Cresci querendo ser advogada (bem na verdade, queria mesmo era ser uma cantora famosa, tipo a Britney Spears ou Emma Bunton, das Spice Girls) e me mudei para Florianópolis, com 16 anos, focada nisso.</p>

		        			  <p>Como o Universo é infinitamente sábio, tratou de colocar em minha vida um grande exemplo de pessoa e de nutricionista, que me inspirou e me inspira até hoje a ser cada dia melhor. Assim, meu caminho mudou, abandonei de vez a ideia de ser advogada, e resolvi abraçar a nutrição. Em 19 de fevereiro de 2011 me formei Nutricionista, pela Universidade Federal de Santa Catarina, e desde então, tento ajudar as pessoas a melhorarem sua relação com a comida. Afinal, por experiencia própria, aprendi que a vida é muito mais prazerosa quando podemos nos alimentar sem culpas e sem medo de estar ingerindo alimentos que não sejam benéficos, por qualquer motivo que seja. Ao longo da minha jornada pela Nutrição, aprendi que comer bem e consumir comida de qualidade é uma manifestação de amor e respeito por si próprio.</p>

		        			  <p>Aprendi também que não somos definidos pelas exceções, não é o que comemos de vez em quando, e nem as dietas da moda que fazemos por algumas semanas ou meses que determinam o que vai ser de nossa saúde. Mas sim, o que consumimos na nossa rotina diária, o que nos dá prazer em comer por meses, anos e décadas, ou seja, os nossos hábitos alimentares. Por isso, gostar de comida  boa e nutritiva tem que ser um hábito, e não uma exceção. Quando nos alimentamos com equilíbrio e prazer, criamos uma relação de respeito com a comida, e isso se reflete em saúde e qualidade de vida.</p>
		       		
		      			</div>
		      		</div>

		   			<div class="column is-4 foto-ari-sobre">

		        		<figure class="image image is-9by16">
							<img src="{% static 'img/foto-ariana-nutri.jpeg' %}">
						</figure>

						<div class="content formacao">

				      		<h2 class="title is-5">Formação</h2>
				        		
				        		<hr>

			        			<ul>

				                  <li>
				                    Formada em Nutrição pela Universidade Federal de Santa Catarina;
				                  </li>
				                  <li>
				                    Mestre em Neurociências pela Universidade Federal de Santa Catarina, com sanduíche na Universidade Nacional de Córdoba (Argentina);
				                  </li>
				                  <li>
				                    Doutora em Bioquímica pela Universidade Federal de Santa Catarina, com sanduíche na Yale University (Connecticut, EUA) e no Salk Institute for Biological Studies (California, EUA);
				                  </li>
				                  <li>
				                    Pós-graduação em Nutrição Clínica Funcional pelo CVPE/UNICSUL;
				                  </li>
				                  <li>
				                    Pós-graduação em Nutrição Esportiva Funcional pelo CVPE/UNICSUL;
				                  </li>
				                  <li>
				                    Docente dos cursos de Pós-graduação do CVPE/UNICSUL.
				                  </li>
				              
				                </ul>
						</div>

					</div>

					<div class="column is-2"></div>

		        </div>

		        

		    </div>

		</section>

{% include 'partials/_footer.html' %}
{% endblock %}
