{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

		<section class="bg-hero-4 hero is-large">

		  	<div class="hero-body">
		   		<div class="container has-text-centered">
		      		<h1 class="title is-1">
						{{receita.name}}
		      		</h1>
		    	</div>
		 	 </div>

		</section>

		<section class="section is-large">

		    <div class="container">

		      	<div class="columns">

		      		<div class="column is-1"></div>

		      		<div class="column is-4">

						
						<figure class="image is-4by3">
						<img src="{{ receita.image.url }}" alt="Placeholder image">
						</figure>
						

		      		</div>

					<div class="column is-6">
						
						<div class="content">
						<h3>Ingredientes:</h3>
						<p>{{receita.ingredientes}}</p>

					</div>

					<div class="column is-1"></div>
			
				</div>

			</div>

		</section>

		<section class="section is-medium">

			<div class="container">

				<div class="columns">

				<div class="column is-1"></div>

					<div class="column is-10">
						
						<div class="content">
							
							<h3>Modo de preparo:</h3>

							<p>{{receita.modo_preparo}}</p>

						</div>

					</div>

				<div class="column is-1"></div>

				</div>

			</div>
			


		</section>

{% include 'partials/_footer.html' %}
{% endblock %}
